# localhost development files
# localhost_setup/

# IDE/editor specific files
.vscode/
.idea/
*.swp
*.swo
*.swn

# Security files
# global-bundle.pem # allow this one to be part of the repo content
# secret.key

# Logs
*.log

# Environment variables
# .env

# Coverage reports
coverage.out

# Test binaries
*.test

# Output of the go coverage tool
*.out

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db